node_modules/
.angular/
.angular/cache/17.0.6/vite/deps/@angular_common.js
.angular/cache/17.0.6/vite/deps/@angular_common.js.map
.angular/cache/17.0.6/vite/deps/@angular_core.js
.angular/cache/17.0.6/vite/deps/@angular_core.js.map
.angular/cache/17.0.6/vite/deps/@angular_fire_app.js
.angular/cache/17.0.6/vite/deps/@angular_fire_app.js.map
.angular/cache/17.0.6/vite/deps/@angular_fire_firestore.js
.angular/cache/17.0.6/vite/deps/@angular_fire_firestore.js.map
.angular/cache/17.0.6/vite/deps/@angular_forms.js
.angular/cache/17.0.6/vite/deps/@angular_forms.js.map
.angular/cache/17.0.6/vite/deps/@angular_platform-browser.js
.angular/cache/17.0.6/vite/deps/@angular_platform-browser.js.map
.angular/cache/17.0.6/vite/deps/@angular_router.js
.angular/cache/17.0.6/vite/deps/@angular_router.js.map
.angular/cache/17.0.6/vite/deps/_metadata.json
.angular/cache/17.0.6/vite/deps/chunk-4LOPNKMV.js
.angular/cache/17.0.6/vite/deps/chunk-4LOPNKMV.js.map
.angular/cache/17.0.6/vite/deps/chunk-BRX4MWZO.js
.angular/cache/17.0.6/vite/deps/chunk-BRX4MWZO.js.map
.angular/cache/17.0.6/vite/deps/chunk-DRSXU366.js
.angular/cache/17.0.6/vite/deps/chunk-DRSXU366.js.map
.angular/cache/17.0.6/vite/deps/chunk-JBQ2NYFA.js
.angular/cache/17.0.6/vite/deps/chunk-JBQ2NYFA.js.map
.angular/cache/17.0.6/vite/deps/package.json
